.build-*/
.codelite/
.externalNativeBuild/
.gradle/
.idea/
.vs/
build/*/
!build/android/
build/android/mobile/build/
build/android/wear/build/

*.iml
*.sln
*.xcworkspace
*.workspace

local.properties
Makefile
premake5.exe
premake5
