.build-*/
.codelite/
.externalNativeBuild/
.gradle/
.idea/
.vs/
build/*/
!build/android/
build/android/mobile/build/
build/android/wear/build/

*.gradle
*.iml
*.sln
*.xcworkspace
*.workspace

gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
local.properties
Makefile
premake5.exe
premake5
